img {
  max-width: 300px;
}

footer {
  text-align: center;
}

button {
  margin: 15px auto;
}

.arrows{
  display: flex;
  justify-content: space-between;
  font-size: 40px;
  position: relative;
  bottom: 400px;
  color: white;
  width: 98%;
  margin: 0 auto;
}

.jumbotron {
  background-color: white;
  text-transform: uppercase;
  border-bottom: 1px solid lightgrey;
}
