<!-- <header class = "jumbotron">
  <div class="container">
    <h1>Bustle</h1>
  </div>
</header> -->
<div class="container">
  <div class="navBar">
    {{#link-to 'index'}}<h1>Bustle</h1>{{/link-to}}
    <nav>
      <p>News</p>
      <p>Entertainment</p>
      <p>Fashion &#38; Beauty</p>
      <p>Lifestyle</p>
      {{#link-to 'admin'}}<p>Admin</p>{{/link-to}}
    </nav>
  </div>
</div>

<div class="container">
  {{liquid-outlet}}
</div>

<div class="container">
  <hr>
  <footer>
    Created by Joe and Brooke at Epicodus | &copy; 2016 All Rights Reseved
  </footer>
</div>
