<header class = "jumbotron">
  <div class="container">
    <h1>Bustle</h1>
  </div>
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  Made by Joe and Brooke at Epicodus
</footer>
