{{#carousel-container transition-interval=400}}
  {{#carousel-body}}
    {{#carousel-item class="carouselItem"}}
      <img class="img-responsive" src="https://static.pexels.com/photos/37553/painting-fingernails-nail-polish-hearts-valentine-37553-large.jpeg" />
    {{/carousel-item}}
    {{#carousel-item class="carouselItem"}}
      <img class="img-responsive" src="http://lovelace-media.imgix.net/uploads/820/a9f74060-d7e2-0133-a29e-0e55e2be01e5.png?w=684&h=513&fit=crop&crop=faces&auto=format&q=70" />
    {{/carousel-item}}
    {{#carousel-item class="carouselItem"}}
      <img class="img-responsive" src="http://lovelace-media.imgix.net/uploads/1051/43615610-d81b-0133-388d-0ee4da9fed05.jpg?w=684&h=513&fit=crop&crop=faces&auto=format&q=70" />
    {{/carousel-item}}
  {{/carousel-body}}

<div class="arrows">
  {{#carousel-arrow direction="left" class="line-arrow left"}}
    <i class="fa fa-chevron-left"></i>
  {{/carousel-arrow}}
  {{#carousel-arrow direction="right" class="line-arrow right"}}
  <i class="fa fa-chevron-right"></i>
  {{/carousel-arrow}}
</div>

{{/carousel-container}}

<div class="articleList">
  {{#each model as |article|}}
  {{ article-tile article=article}}
  {{/each}}
</div>
